mixin postList(posts)
    ul.post-list
        each post in posts
            li.post
                h2
                    a(href=post.url, target="_blank")= post.title
                        if post.url.match(/(^.*imgur.*\.gif.*$)|(^.*imgur.*\.gifv.*$)/gi)
                            p GIPHY HERE
                            iframe(src="https://imgur.com/xDv2hQK/embed" width="200" height="220" scrolling="no" style="border:none;")
                    p Submitted by
                        a(href="/u/" + post.user.username)= post.user.username
                        span  in
                        a(href="/r/" + post.subreddit.name) /r/#{post.subreddit.name}
                    p Score: #{post.voteScore} Upvotes: #{post.numUpvotes} Downvotes: #{post.numDownvotes}
                h4
                    form(action="/vote" method="post")
                        input(type="hidden" name="postId" value=post.id)
                        button(type="submit" name="vote" value="1") upvote this
                        |
                        |
                        button(type="submit" name="vote" value="-1") downvote this